		<header>
		  <strong>❍maxweil</strong>
		  <nav>
			[
				<a href="/">home</a> |
				<a href="/log">log</a> |
				<a href="/photos">photos</a> |
				<a href="/radio">radio</a>
			]
		  </nav>
		</header>
