<body>
	<div class="icon"><img style="border-radius: 50%" alt="icon" src="static/icons/mefa2.jpg" width="168" height="168"></div>
    <h1> about me</h1>
    	<p> Hi, I'm maxweil, I've been on the internet since 2005. Between coding for a living and net-surfing in my leisure time, I'm on the computer a lot. </p>
    <h2> comms </h2>
		<ul>
			<li>email: max❍maxweil.com</li>
			<li>twitter: @_maxweil</li>
			<li>twitterbot: @LuckyStarPicBot</li>
			<li>discord: maxweil#9976</li>
			<li>github: maxweill</li>
			<li>myanimelist: maxweil</li>
			<li>myfigurecollection: maxweil</li>
		</ul>
</body>

