<body>
    <h1> works </h1>
    	<p> Sometimes I work on creative projects. Here are some of them.</p>
		<h2> <a href="https://maxweil.itch.io/moths-to-a-flame">Moths to a Flame</a></h2>
		<p> A horror themed visual novel created for the Spooktober 2021 game jam. I wrote the story, outline, and about 24,000 words of dialogue and prose. I also did all of the programming and managed the team.</p>
		<h2> <a href="https://github.com/maxweill/konakona"> Konakona </a></h2>
		<p> The back-end for a bot that posts endless pictures from a video source on to twitter. I first wrote this for my account <a href="https://twitter.com/LuckyStarPicBot">@LuckyStarPicBot</a></li>. Since then, me and my friend have added features (it posts videos now too!) and released it open source. </p>
</body>

